$bgcolor: #444655;

$inputcolor: #343641;
$suggestioncolorhover: #3B3E4B;
$currentlight : #424451;
$currentdark: #353742;
$carddarkcolor: #3E4051;
$cardlightcolor: #4B4E5D;
$triangleColor: #414352;
$cardColorlight: #4E5162;
$cardColordark: #373944;

$boxshadow : 3px 2px 6px #252839;
$boxshadowcard : 0 3px 6px #252839;